.demo__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width)
  {
    margin: 0 auto;
    margin: 0 30px;
    padding: 0 ;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin: 0 110px;
    padding: 0;
    display: flex;
  }
}

.demo {
  background-color: #eaeaea;
}

.demo__stats {
  @media (min-width: @tablet-width) {
    display: flex;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.demo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

}

.demo__description {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 280px;
  @media (min-width: @tablet-width) {
    width: 708px;
  }
  @media (min-width: @desktop-width) {
    width: 436px;
  }
}


.demo__stats--become {
  display: flex;
  justify-content: center;
}

.demo__weight,
.demo__day {
  width: 124px;
  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.demo__spent {
  margin: 0 auto;
  width: 250px;
}

.demo_text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.demo__littel-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  display: flex;
  align-items: center;
  text-align: center;
}

.demo__spent-left {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.demo__buttons-block {
  display: flex;
}

.demo__block--right {
  margin: 0 auto;
  width: 210px;
}

.demo__progres--button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
