.manual {
  background-color: rgb(255, 255, 255);
}

.manual__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.manual__title {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.manual__list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.manual__item {
  width: auto;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    width: 350px;
    margin-left: 0;
    margin-right: 0;

  }

  @media (min-width: @desktop-width) {
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
  }
}

.manual__jmage {
  min-width: 60px;
  min-height: 60px;
  background-color: #68b738;
  color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-width: 80px;
    min-height: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    height: 80px;
    margin-top: 40px;
  }
}

.manual__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    margin-left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
