.maps__wrapper {
  width: auto;
  margin: 0 auto;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    width: auto;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.maps__adress {
  display: flex;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: 56px;
    margin-left: 70px;
    margin-right: 70px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.maps__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 172px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
}

.maps__adress--text {
  margin: 0 auto;
  margin-right: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 139px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    width: 172px;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

.maps__google {
  margin-top: 26px;
  height: 632px;

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}
