.programs__wrapper {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.programs__list {
  background: #F2F2F2;
  margin-top: 20px;
  min-width: 280px;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.container-programs {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;

  @media (min-width: @desktop-width) {
    margin-top: 0;
    align-items:flex-start;
  }
}


.image-cat-sit {
  margin-left: 13px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
  }
}

.image-cat-slim {
  margin-left: 22px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    width: 100px;
    height: 106px;
  }
}

.container-slim {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 92px;
    top: 1062px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-top: 41px;
    margin-left: 52px;
  }
}

.container-pro {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 58px;
    top: 1483px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-top: 47px;
    margin-left: 33px;
  }
}

.programs__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 19px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 77px;
    margin-left: 53px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 ;
    margin-left: 62px;
    margin-top: 77px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__title-jock {
  margin: 0;
  margin-left: 11px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 77px;
    margin-left: 53px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 77px;
    margin-left: 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-left: 52px;
    margin-right: 316px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.programs-foot {
  margin-top: 19px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 52px;
    margin-bottom: 57px;
    margin-left: 52px;
  }
}

.image-arrow {
  margin: 0;
  margin-left: 15px;
}

.programs__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  padding-top: 23px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.programs__wrapper {
  display: flex;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-top: 82px;
    padding: 0 110px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}
