@font-face {
  font-family: "Oswal";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/oswaldmedium.woff"), url("/fonts/oswaldmedium.woff2"), format("woff2");
}
@font-face {
  font-family: "Oswal";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/oswaldmedium.woff"), url("/fonts/oswaldmedium.woff2"), format("woff2");
}
@font-face {
  font-family: "Oswal";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/oswaldregular.woff"), url("/fonts/oswaldregular.woff2"), format("woff2");
}
@font-face {
  font-family: "Oswal";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/oswaldregular.woff"), url("/fonts/oswaldregular.woff2"), format("woff2");
}
.main-header {
  display: flex;
  background-color: #ffffff;
}
.social-list {
  display: flex;
}
.copyright-title {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.main-container {
  background-color: #ffffff;
}
.head-block__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
.head-block__text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
.container-block {
  background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
}
.programs__list {
  background-color: #F2F2F2;
}
.programs__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.programs__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.programs__link {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
body {
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.manual {
  background-color: #ffffff;
}
.manual__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
.manual__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.demo {
  background-color: #EAEAEA;
}
.demo__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
.demo__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.demo__stats--become {
  display: flex;
}
.demo_text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.demo__littel-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  display: flex;
  align-items: center;
  text-align: center;
}
.demo__spent-left {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.demo__buttons-block {
  display: flex;
}
.demo__progres--button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.maps__adress {
  display: flex;
}
.maps__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.maps__adress--text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.title-catalog {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.catalog__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
}
.catalog__option {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog__option-mass,
.catalog__option-taste,
.catalog__option-price {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product__button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.catalog__subtitle {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.catalog__subtext {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog__snow-button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
}
.add-catalog__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.add-product__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.add-product__options {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.add-product__prise {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.add-catalog__button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.add-catalog__promo {
  background-color: rgba(104, 183, 56, 0.85);
}
.add-catalog__promo-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */
