.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    width: 895px;
  }
}

.add-catalog__item {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.add-catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.add-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.add-product__options {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.add-product__prise {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.add-catalog__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.add-catalog__promo {
  background-color: rgba(104, 183, 56, 0.85);
}

.add-catalog__promo-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.add-catalog__wrapper {
  width: 320px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog-container {
    display: flex;
  }
}
